In [28]:
# FIND NEEDS FOR PRODUCTS IN EACH COUNTRY: 
import pandas as pd
import numpy as np
import time
import networkx as nx
import geopandas as gpd # pip installed
import matplotlib.pyplot as plt 
import pickle
import plotly.express as px
from tqdm import tqdm

In [29]:
def Food_group_sum (data, f_group):
    filt_data= data.loc[data.Food_group == f_group,:]
    data_grouped= filt_data.groupby(['Food_group','unit','origin_country','destin_country','year'])
    filt_data.loc[:,'value']= data_grouped.value.transform('sum')

    filt_data.loc[:,'item']= f_group
    return(filt_data)

def FoodEx_aggregation (data):
    food_groups = data.Food_group.unique() 

    # Iterate per food group
    data_fg= Food_group_sum(data,food_groups[0])
    
    for f in tqdm(food_groups[1:]): 
        data_fg= pd.concat([data_fg, Food_group_sum(data,f)], ignore_index=True)

    data_out = data_fg.drop_duplicates()
    return data_out.drop(columns='item')

In [30]:
#year_check= 2019 #'1986-1988'#2019
direction = 'out'
group_class = 'item'
#data_og = pd.read_pickle('../Data/Data_year_groups_12.pkl')

country_metadata = pd.read_pickle('../Data/Country_info.pkl')

data_og = pd.read_pickle('../Data/Data_food_groups.pkl')

# Agregate data in the selected group_class:
if group_class == 'Food_group':
    data_og = FoodEx_aggregation(data_og)
    data_og = data_og.sort_values(by=['Food_group','year']).reset_index()
else:
    data_og['Food_group'] = data_og['item'] #need to fix
data_og

,destin_country_ISO,origin_country_ISO,item,year,unit,value,origin_country,destin_country,L1_foodex,Food_group
0,AM,UA,"Anise, badian, coriander, cumin, caraway, fenn...",2003,tonnes,0.0,Ukraine,Armenia,A011X,"Anise, badian, coriander, cumin, caraway, fenn..."
1,AM,UA,"Anise, badian, coriander, cumin, caraway, fenn...",2019,tonnes,0.0,Ukraine,Armenia,A011X,"Anise, badian, coriander, cumin, caraway, fenn..."
2,AM,UA,"Anise, badian, coriander, cumin, caraway, fenn...",2003,1000 US$,0.0,Ukraine,Armenia,A011X,"Anise, badian, coriander, cumin, caraway, fenn..."
3,AM,UA,"Anise, badian, coriander, cumin, caraway, fenn...",2019,1000 US$,0.0,Ukraine,Armenia,A011X,"Anise, badian, coriander, cumin, caraway, fenn..."
4,AM,UA,Apple juice,2003,tonnes,18.0,Ukraine,Armenia,A039K,Apple juice
...,...,...,...,...,...,...,...,...,...,...
32426003,NP,KZ,Mustard seed,2021,1000 US$,175.0,Kazakhstan,Nepal,A011X,Mustard seed
32426004,NP,KZ,Sugar confectionery,2011,tonnes,1.0,Kazakhstan,Nepal,A032F,Sugar confectionery
32426005,NP,KZ,Sugar confectionery,2011,1000 US$,3.0,Kazakhstan,Nepal,A032F,Sugar confectionery
32426010,NP,SN,Other birds,2017,tonnes,0.1,Senegal,Nepal,A01QR,Other birds
32426011,NP,SN,Other birds,2017,1000 US$,1.0,Senegal,Nepal,A01QR,Other birds

In [34]:
contains_oil = data_og.item.str.contains('oil', case= False)

In [27]:
data_og.loc[]

0     True
1    False
2     True
Name: 0, dtype: bool